@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.fa-check {
    color: #5243C2;
    background-color:rgba(82, 67, 194, 0.103693);
    padding: 3px;
}
.hot-check {
    color: white;
}
.btn-color {
    color: #3F87F5;
    background-color: #f496d295;
}