@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.fa-check {
    color: #5243C2;
    background-color:rgba(82, 67, 194, 0.103693);
    padding: 3px;
}
.package-hover:hover {
    background-color: blue;
    color: white;
    padding: 50px 15px 10px 15px;
    border-radius: 25px;
    transform: scaleY(1);
    transform: translate(0px, -50px);
    transition-duration: 1.5s;
}
.package-hover:hover .fa-check {
    background-color:rgba(35, 12, 211, 0.884);
    color: white;
}

.package-hover:hover .btn-color {
    background-color:white;
    color: blue;
}
.grand-hover:hover {
    transition-duration: 1.5s;
    background-color: #DC3545;
}
.grand-hover {
    background-color: #0D6EFD;
}
.apps-store {
    text-decoration: none;
    color: white;
}
.fa-apple {
    font-size: 50px;
    padding-right: 10px;
}
